{% extends 'layout.html' %} {% set mainClasses = "nhsuk-main-wrapper--s" %} {%
block pageTitle %} Samples page {% endblock %} {% block beforeContent %} {%
from 'breadcrumb/macro.njk' import breadcrumb %} {{ breadcrumb({ items: [ {
href: "/cancer/referral", text: "Referral #123456789" } ], href: "/cancer/referral/samples",
text: "Samples" }) }} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <div class="nhsuk-grid-column-full">
            <h1 class="nhsuk-heading-l">Samples</h1>      
            <form action="/cancer/referral/care-team" method="post" class="form">
                <div class="nhsuk-form-group nhsuk-grid-column-three-quarters">
                    <div class="nhsuk-grid-row nhsuk-u-margin-top-3">
                        {% set otherSystems %}
                            {{ input({
                                id: "cancer-sample-other-systems",
                                name: "cancer-sample-other-systems",
                                classes: "nhsuk-input--width-20",
                                label: {
                                    text: "please specify which system"
                                },
                                value: data["cancer-sample-other-systems"]
                            }) }}
                        {% endset -%}
                        {{ input({
                            label: {
                            text: "Sample ID"
                            },
                            id: "cancer-lab-sample",
                            name: "cancer-lab-sample",
                            classes: "nhsuk-u-margin-bottom-4",
                            value: req.session.data['cancer-lab-sample']
                        }) }}
                    
                    {{ radios({
                    classes: "nhsuk-u-margin-bottom-4",
                    "idPrefix": "system-type",
                    "name": "cancer-sample-system-type",
                    "fieldset": {
                      "legend": {
                        "text": "Sample type",
                        "isPageHeading": false
                      }
                    },
                    "items": [
                      {
                        "value": "Primary System",
                        "text": "Primary System",
                        "checked": data['cancer-sample-system-type'] and data['cancer-sample-system-type'] == 'Primary System'
                      },
                      {
                        "value": "System Two",
                        "text": "System Two",
                        "checked": data['cancer-sample-system-type'] and data['cancer-sample-system-type'] == 'System Two'
                      },
                      {
                        "value": "another-system",
                        "text": "Another System",
                        conditional: {
                            html: otherSystems
                        },
                        "checked": data['cancer-sample-system-type'] and data['cancer-sample-system-type'] == 'another-system'
                      }
                    ]
                  }) }}
                  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
                {{ input({
                    label: {
                        text: "Organisation"
                    },
                    id: "cancer-sample-organisation",
                    name: "cancer-sample-organisation",
                    value: data['cancer-sample-organisation']
                }) }}
                </div>
                </div>
                </div>
                <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
            <button class="nhsuk-button nhsuk-u-margin-top-4" data-module="nhsuk-button">
                Save and continue
            </button>
            </div>
        </form>
        </div>
    </div>
</div>
</div>

{% endblock %}